%flex-center-style {
display: flex;
  align-items: center;
  justify-content: center;
}
%primary-link-style {
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: 0.1em;
  &:hover,
  &:focus {
  color: $accent-color;
}
}
%secondary-link-style {
  font-weight: 600;
  line-height: 1.36;
  letter-spacing: 0.2em;
}
%base-form-style {
  font-size: 11px;
  color: $second-text-color;
  @media screen and (min-width:$tablet) {
  font-size: 14px;
  }
}
%btn-style {
  position: relative;
  overflow: hidden;
    @extend %flex-center-style;
    border: 1px solid $accent-color;
    padding: 0;
    border-radius: 25px;
    min-width: 160px;
    height: 40px;
    color: $accent-color;
    background-color: transparent;
    font-family: inherit;
    text-transform: uppercase;
    &:hover, &:focus {
    color: $tertiary-color;
    }
  span {
    z-index: -1;
  } 
  
}