<header class="header">
    <div class="container header__container">
        <a class="logo animate__animated animate__zoomIn" href="./index.html"
          ><svg class="logo-icon" width="66" height="56"><use href="./img/symbol-defs.svg#icon-Logo"></use></svg></a>
          <button type="button" class="menu__btn" data-mobile-btn aria-expanded="false"
          aria-controls="mobile-menu"><svg class="menu__icon" width="40" height="40" aria-label="Переключатель мобильного меню"><use href="img/symbol-defs.svg#icon-menu_40px" class="icon__menu"></use><use href="img/symbol-defs.svg#icon-close_40px" class="icon__close"></use>
          </svg> </button>
          <div class="menu" data-menu-container id="mobile-menu">
      <nav class="header__navigation">
        <ul class="nav__list">
          <li class="nav__item">
            <a class="nav__link current" href="./index.html">О нас</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="./services&prices.html"
              >Услуги и цены</a
            >
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#our-masters">Мастера</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#contacts">Контакты</a>
          </li>
        </ul>
      </nav>
      <div class="header__contacts">
        <a class="header__contacts--tel" href="tel:+380441111111"
          >+38 044 111 11 11</a
        >
        <button class="header__button btn" type="button">онлайн-запись</button>
      </div>
        <ul class="connect__list">
          <li class="connect__item">
            <a href="" class="connect__link">Instagram</a>
          </li>
          <li class="connect__item"><a href="" class="connect__link">Youtube</a></li>
        </ul>
    </div>
    </div>
  </header>
  <main>
    <section class="prices section">
      <div class="container">
        <p class="prices__pretitle pretitle">
          Проведи время в компании лучших мастеров
        </p>
        <h2 class="prices__title section-title" id="services&prices">
          Услуги и цены
        </h2>
        <div class="prices__wrap">
          <ul class="prices__list prices__list--light">
            <li class="prices__item">
              <p class="prices__item-text description">Мужская стрижка</p>
              <span class="prices__item-text">от 300 грн.</span>
            </li>
            <li class="prices__item">
              <p class="prices__item-text description">Стрижка бороды</p>
              <span class="prices__item-text">от 200 грн.</span>
            </li>
            <li class="prices__item">
              <p class="prices__item-text description">Стрижка усов</p>
              <span class="prices__item-text">от 200 грн.</span>
            </li>
            <li class="prices__item">
              <p class="prices__item-text description">
                Бритье опасной бритвой
              </p>
              <span class="prices__item-text">от 200 грн.</span>
            </li>
          </ul>
          <ul class="prices__list">
            <li class="prices__item">
              <p class="prices__item-text description">Cтрижка у стажера</p>
              <span class="prices__item-text">от 50 грн.</span>
            </li>
            <li class="prices__item">
              <p class="prices__item-text description">Стрижка под насадку</p>
              <span class="prices__item-text">от 200 грн.</span>
            </li>
            <li class="prices__item">
              <p class="prices__item-text description">
                Детская стрижка (до 12 лет)
              </p>
              <span class="prices__item-text">от 300 грн.</span>
            </li>
            <li class="prices__item">
              <p class="prices__item-text description">Камуфлирование седины</p>
              <span class="prices__item-text">от 200 грн.</span>
            </li>
          </ul>
        </div>
        <button class="prices__btn btn" type="button" data-modal-open>онлайн-запись</button>
      </div>
    </section>
  </main>