.btn {
  position: relative;
  overflow: hidden;
    @extend %flex-center-style;
    @include transition(background-color);
    @include transition(color);
    @include font (12px, 600, 1.33, 0.09em);
    border: 1px solid $accent-color;
    padding: 0;
    border-radius: 25px;
    min-width: 160px;
    height: 40px;
    color: $accent-color;
    background-color: transparent;
    font-family: inherit;
    text-transform: uppercase;
    &:hover, &:focus {
    color: $tertiary-color;
    }
  span {
    @include transition(all);
    z-index: -1;
  } 
  & .first {
    content: "";
    position: absolute;
    right: 100%;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: $accent-color;
  }
  &:hover .first, &:focus .first  {
    top: 0;
    right: 0;
  }
  & .second {
    content: "";
    position: absolute;
    left: 25%;
    top: -100%;
    width: 25%;
    height: 100%;
    background-color: $accent-color;
  }
  &:hover .second, &:focus .second {
    top: 0;
    left: 50%;
  }
  & .third {
    content: "";
    position: absolute;
    left: 50%;
    top: 100%;
    width: 25%;
    height: 100%;
    background-color: $accent-color;
  }
  &:hover .third, &:focus .third {
    top: 0;
    left: 25%;
  }
  & .fourth {
    content: "";
    position: absolute;
    left: 100%;
    top: 0;
    width: 25%;
    height: 100%;
    background-color: $accent-color;
  }
  &:hover .fourth, &:focus .fourth {
    top: 0;
    left: 0;
  }
  }
  .btn--center {
    margin: 0 auto;
  }

  // modal-close-btn
  .close-btn {
    @include transition (fill);
    @include transition (border-color);
  @extend %flex-center-style;
  padding: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid $second-text-color;
  position: absolute;
  top: 10px;
  right: 10px;
&:hover {
  fill: $accent-color;
  border: 1px solid $accent-color;
}
}
.menu__btn {
  @include transition (color);
  position: absolute;
  z-index: 2;
  top: 48px;
  right: 31px;
  padding: 0;
  border: none;
  background-color: transparent;
  &:hover,
  &:focus {
    color: $accent-color;
  }
  @media screen and (min-width:$tablet) {
  display: none;
  }
}

