.main-wrapper {
  min-width: 100%;
}

.scrolltop {
  @include transition(background-color);
  @extend %flex-center-style;
  position: fixed;
  bottom: 10px;
  right: 10px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  opacity: 0;
  z-index: 10;
  background-color: $accent-color;
  @media screen and (min-width: 768px) {
    width: 40px;
    height: 40px;
  }
  @media screen and (min-width: 1280px) {
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
  }
  &:hover,
  &:focus {
    background-color: $third-text-color;
  }
}

.showBtn {
  opacity: 1;
}

.scroll-top__btn {
  border: solid $main-color;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  &--up {
    transform: rotate(-135deg);
  }
}
.hero__container {
  margin: 0 auto;
  display: flex;
  @media screen and (min-width:$tablet) {
    padding: 0 39px;
}
@media screen and (min-width:$desktop) {
    padding: 0 15px;
    width: $desktop;
}
}
  .hero--left {
    @media screen and (max-width:767px) {
    display: none;}
    @media screen and (min-width:$tablet) { 
      background-color: $main-color;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    }
    @media screen and (min-width:$desktop) {
    }
  }
  .hero__list {
    width: 93px;
    transform: rotate(-90deg) translate(-15px);
    display: flex;
    transform-origin: top left;
    align-items: center;
  }
  
  .hero__item {
    padding: 37px 0;
    &:first-child {
      margin-right: 40px;
      display: flex;
  align-items: center;
    &::before {
      @include animation (rotateIn, 1s);
      @include transition (background-color);
      content: "";
      width: 60px;
      height: 1px;
      background-color: $second-text-color;
      margin-right: 40px;
    }
    &:hover::before,
    &:focus::before {
    background-color: $accent-color;}
    }
  }

  .hero__link {
    @include decotation (none);
    @include transition (color);
    @extend %secondary-link-style;
    font-family: Open Sans;
    font-size: 11px;
    color: $second-text-color;
    font-style: normal;
  &:hover,
    &:focus {
    color: $accent-color;
  }
  }
.hero--right {
  @media screen and (max-width:767px) {
    width: 100%;
  }
  @media screen and (min-width:$tablet) {
    width: calc(100% - 93px);
    flex-grow: 1;}
    & .slick-arrow {
      width: 57px;
      height: 30px;
      top: 90%;
      border-bottom: 1px solid rgba($first-text-color, 0.6);
      &:focus, &:hover {
          border-color: $main-color;
        }
      }
      & .slick-prev {
        @include transition (border-color);
        left: 70%;
        @media screen and (min-width:$desktop) {
          left: 82%;}
        &::before {
          @include transition (color);
          content: "Назад";
          font-size: 11px;
          @include font (11px, 600, 1.36, 0.1em);
          font-family: inherit;
          text-align: left;
          color: rgba($first-text-color, 0.6);
        }
        &:focus::before, &:hover::before {
          color: $main-color;
        }
        } 
    & .slick-next {
      @include transition (border-bottom);
      right: 37px;
      &::before {
        @include transition (color);
        content: "Вперед";
        @include font (11px, 600, 1.36, 0.1em);
        font-family: inherit;
        text-align: right;
        color: rgba($first-text-color, 0.6);
      }
      &:focus::before, &:hover::before {
        color: $main-color;
      }
      }
}
  .hero--right--1 {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: $secondary-color;
    background-image: linear-gradient(
      rgba($tertiary-color, 0.2),
      rgba($tertiary-color, 0.2)
    ),
    url("../img/hero-mobile-min.jpg");
  @media (min-resolution: 2dppx) {
    background-image: linear-gradient(rgba($tertiary-color, 0.2),
      rgba($tertiary-color, 0.2)), url("../img/hero-mobile@2x-min.jpg");
  }
    @media screen and (min-width:481px) {
      background-image: linear-gradient(rgba($tertiary-color, 0.2),
        rgba($tertiary-color, 0.2)), url("../img/hero-tablet-min.jpg");
  @media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) { 
  background-image: linear-gradient(rgba($secondary-color, 0.4),
   rgba($secondary-color, 0.4)), url("../img/hero-tablet@2x-min.jpg");
  }
  }  
    @media screen and (min-width:769px) {
      background-image: linear-gradient(rgba($tertiary-color, 0.2),
        rgba($tertiary-color, 0.2)), url("../img/hero-desktop-min.jpg");
      @media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx)  {
        background-image: linear-gradient(rgba($tertiary-color, 0.2),
        rgba($tertiary-color, 0.2)), url("../img/hero-desktop@2x-min.jpg");
      }
  }
}
.hero--right--2 {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: $secondary-color;
  background-image: linear-gradient(
    rgba($tertiary-color, 0.2),
    rgba($tertiary-color, 0.2)
  ),
  url("../img/slider-tablet-1-min.jpg");
@media (min-resolution: 2dppx) {
  background-image: linear-gradient(rgba($tertiary-color, 0.2),
    rgba($tertiary-color, 0.2)), url("../img/slider-tablet-1@2x-min.jpg");
}
  @media screen and (min-width:769px) {
    background-image: linear-gradient(rgba($tertiary-color, 0.2),
      rgba($tertiary-color, 0.2)), url("../img/slider-desktop-1-min.jpg");
    @media (min-device-pixel-ratio: 2),
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx)  {
      background-image: linear-gradient(rgba($tertiary-color, 0.2),
      rgba($tertiary-color, 0.2)), url("../img/slider-desktop-1@2x-min.jpg");
    }
}
}
.hero--right--3 {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: $secondary-color;
  background-image: linear-gradient(
    rgba($tertiary-color, 0.2),
    rgba($tertiary-color, 0.2)
  ),
  url("../img/slider-tablet-2-min.jpg");
@media (min-resolution: 2dppx) {
  background-image: linear-gradient(rgba($tertiary-color, 0.2),
    rgba($tertiary-color, 0.2)), url("../img/slider-tablet-2@2x-min.jpg");
}
  @media screen and (min-width:769px) {
    background-image: linear-gradient(rgba($tertiary-color, 0.2),
      rgba($tertiary-color, 0.2)), url("../img/slider-desktop-2-min.jpg");
    @media (min-device-pixel-ratio: 2),
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx)  {
      background-image: linear-gradient(rgba($tertiary-color, 0.2),
      rgba($tertiary-color, 0.2)), url("../img/slider-desktop-2@2x-min.jpg");
    }
}
}
  .hero__content {
    padding: 208px 0 183px 15px;
    @media screen and (min-width:$desktop) {
    padding: 272px 0 206px 96px;
  }
  }

  .hero__pretitle {
    margin-bottom: 20px;
    color:rgba( $first-text-color, 0.6);
    &::before {
    transition: background-color 300ms linear;
    background-color: rgba($first-text-color, 0.6);
  }
    &:hover:before {
    background-color: $accent-color;
  }
  }
  
  .hero__title {
    @include font (48px, 700, 1.17, 0.05em);
    margin-bottom: 20px;
    font-family: Raleway;
    color: $main-color;
    @media screen and (min-width:$tablet) {
    @include font (72px, 700, 1.18, 0.05em);
    }
  }
  .hero__aftertitle {
    max-width: 306px;
    @media screen and (min-width:$tablet) {
    max-width: 400px;
    }
    color: $first-text-color;
  }