.menu {
position: fixed;
top: 0;
right: 0;
    @media screen and (max-width:767px) {
        @include transition (visibility);
        padding: 115px 20px 70px; 
        @media screen and (min-width:$mobile) and (max-width:767px) {
        padding: 115px 40px 70px; 
        width: 60vw;
        }
        background-color: $main-color;
        width: 80vw;
        height: 100vh;
       
            display: flex;
            flex-direction: column;
            justify-content: space-between;
}
@media screen and (min-width:$tablet) { 
display: flex;
position: static;

width: calc(100% - 93px);
}
}